backports.entry-points-selectable==1.1.0
certifi==2021.10.8
click==8.0.3
distlib==0.3.3
filelock==3.3.1
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.21.4
pi==0.1.2
platformdirs==2.4.0
pybind11==2.8.1
six==1.16.0
virtualenv==20.8.1
Werkzeug==2.0.2
